{{ define "main" }}
<main class="pt-32 max-w-screen-xl px-5 mx-auto space-y-52">
  <section class="mt-10">

    {{ partial "components/section-title.html" (dict 
      "title" .Params.Title
      "description" .Params.Description
    )}}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-10">
      {{ range .Pages }}
        {{if not (in .Params.IsIndex true)}}
          <div class="bg-white rounded-lg p-3 md:p-5">
            {{ with .Resources.GetMatch "thumbnail.png" }}
              <img class="mb-6" src="{{ .RelPermalink }}">
            {{ end }}
            <div class="space-y-5">
              <h2 class="text-2xl md:text-3xl font-bold text-primary-dark-gray">
              {{ .Params.Title }}
              </h2>
              <div class="flex items-center gap-2 md:gap-4 text-sm md:text-base flex-wrap"> 
                <div class="flex items-center gap-1 md:gap-2 font-medium text-primary">
                  <img class="-mt-0.5" src="/assets/images/date.svg" alt="">
                  {{ dateFormat "02 Jan, 2006" .Date.Local }}
                </div>
                <div class="flex items-center gap-1 md:gap-2 font-medium text-primary">
                  <img class="-mt-0.5" src="/assets/images/folder.svg" alt="">
                  {{ .Params.Category }}
                </div>
              </div>
              <p class="text-sm md:text-base font-medium line-clamp-2 text-primary-gray">
                {{ .Params.Description }}
              </p>
            </div>
            <div class="flex mt-8">
              <a href="{{ .RelPermalink }}" class="font-roboto block py-4 px-8 w-full md:w-auto text-center rounded-lg bg-primary text-white text-sm md:text-base font-medium hover:opacity-90 transition">
                Read More
              </a>
            </div>
          </div>
        {{ end}}
      {{end}}
    </div>
  
  </section>
</main>
{{ end }}
