<section class="mt-10">
  {{ partial "components/section-title.html" (dict 
    "title" .title
    "description" .description
  )}}
  <div class="grid grid-cols-4 gap-x-6 gap-y-10">
    {{ $url := .Params.name | lower | printf "/assets/images/gallery/%s"}}
    {{ $folder := .Params.name | lower | printf "/static/assets/images/gallery/%s"}}
    {{ if fileExists $folder }}
        {{ $files := readDir $folder }}
        {{ range $files }}
        <div>
          <img class="w-full h-full aspect-square object-cover object-center rounded-lg" src="/assets/images/gallery/{{.Name}}"/>
        </div>
        {{end}}
    {{ end }}
  </div>
</section>
