<header class="navbar fixed top-0 left-0 w-full z-50 bg-light">
  <div class="max-w-screen-xl mx-auto flex items-center justify-between px-5 py-3 ">
    <nav class="menu translate-y-[-150%] lg:translate-y-0">
      <a href="#about" class="hover:text-primary transition font-bold">About</a>
      <a href="#posts" class="hover:text-primary transition font-bold">Posts</a>
      <a href="#students" class="hover:text-primary transition font-bold">Students</a>
      <a href="#gallery" class="hover:text-primary transition font-bold">Gallery</a>
    </nav>
    <div class="flex items-center justify-between relative w-full lg:w-auto h-full lg:h-auto py-4 z-40">
      <div class="flex items-center justify-center gap-5">
        <a href="{{ .Site.Params.Twitter_url }}" class="h-12 w-12 flex items-center justify-center rounded-full border-2 border-primary hover:opacity-80">
          <img src="assets/images/twitter.svg" alt="twitter">
        </a>
        <a href="{{ .Site.Params.Linkedin_url }}" class="h-12 w-12 flex items-center justify-center rounded-full border-2 border-primary hover:opacity-80">
          <img src="assets/images/linkedin.svg" alt="linkedin">
        </a>
        <a href="{{ .Site.Params.Github_url }}" class="h-12 w-12 flex items-center justify-center rounded-full border-2 border-primary hover:opacity-80">
          <img src="assets/images/github.svg" alt="github">
        </a>
      </div>
      <div class="toggle-menu block md:hidden cursor-pointer">
        <img src="/assets/images/menu.svg" alt="menu">
      </div>
    </div>
    
  </div>
</header>

